@model WebServices.Models.Register;
    <!--в данном случае выражение 2model объявляет тип объета модели, который будет передаваться 
        ПРЕДСТАВЛЕНИЮ ИЗ МЕТОДА действий. это позволяет ссылться на методы,
        поля и свойтсва объекта модели предсталвения посрдеством Райзора.-->
    <!--но стоит попытаться что ли через аксессор доступа воткнуть туда значение. хз. может прокатит. пока что читаю дальше-->
@{
    ViewData["Title"] = "Register";
    
}
@using (Html.BeginForm())
{
    @Html.TextBox("lastName");
    
}
<!DOCTYPE>
<html>
<head>
    <title>Вход/Регистрация</title>
    <link rel="stylesheet" href="~/css/stylesshet.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div id="shapka"></div>
    <div id="content">
        <form class="register">
            <asp:TextBox id="LastName" class="text" ></asp:TextBox>




            <input type="text" class="text" asp-for="@Model.AcountNumber" placeholder="Номер зачетки" autocomplete="off" name="accountNumber">
            <input type="text" class="text" id="lastName" placeholder="Фамилия" autocomplete="off" name="lastName"/>
            <input type="text" class="text" asp-
            <input type="text" class="text" asp-for="@Model.FirstName" placeholder="Имя" autocomplete="off" name="firstName">
            <input type="text" class="text" asp-for="@Model.Email" placeholder="Email" autocomplete="off" name="email">
            <input type="text" class="text" asp-for="@Model.GroupName" placeholder="Группа '4АПОСШ'" autocomplete="off" name="groupName">
            <input type="date" asp-for="@Model.DOB" value="2000-01-01" autocomplete="off" name="dob">
            <input type="password" asp-for="@Model.Password" class="text" placeholder="Пароль" name="password"/>
            <!--<a href="index.html" rel="vhod" class="rig biton">Вход</a>-->
            <a asp-controller="Home" asp-action="Index" class="biton">Вход</a>
            <input type="submit" class="biton" value="Регистрация">
            <!--<a asp-controller="Home" asp-action="OldUser" class="biton">Регистрация</a>-->
        </form>
    </div>
    <div id="podval"></div>
</body>
</html>