
@{
    //ViewData["Title"] = "Register";
    
    
}
@using WebServices.Models;
@using WebServices.Controllers;
<!DOCTYPE>
<html>
<head>
    <title>Вход/Регистрация</title>
    <link rel="stylesheet" href="~/css/stylesshet.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div id="shapka"></div>
    <div id="content">
        <form class="register">
            <input type="text" class="text" asp-for="@Register.AcountNumber" placeholder="Номер зачетки">
            <input type="text" class="text" asp-for="@Register.LastName" placeholder="Фамилия">
            <input type="text" class="text" asp-for="@HomeController.FirstName" placeholder="Имя">
            <input type="text" class="text" asp-for="@HomeController.Email" placeholder="Email">
            <input type="text" class="text" asp-for="@HomeController.GroupName" placeholder="Группа '4АПОСШ'">
            <input type="date" asp-for="@HomeController.DOB" value="2000-01-01">
            <!--<a href="index.html" rel="vhod" class="rig biton">Вход</a>-->
            <a asp-controller="Home" asp-action="Index" class="biton">Вход</a>
            <!--<input type="submit" class="biton" value="Регистрация">-->
            <a asp-controller="Home" asp-action="NewUser" class="biton">Регистрация</a>
        </form>
    </div>
    <div id="podval"></div>
</body>
</html>